{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	{% block title %}Forecasting{% endblock %}
	
	
</head>
<body>

	<div class="sidenav">
	</div>
	<div id="content" name="content" class = "main">
	{% block content %}
	<h3>FILL THE DETAILS TO FORECAST USA ACCIDENTS</h3>
	<form action = "{{url_for('forecast')}}" , method = 'POST'>
		<br>
		<br>
		<fieldset>		
		<label for="max_words" id="label_max_words"> <b>K days for forecasting: (defaut 7)</b></label>
		<p></p>
		<span id="slider_value" style="color:red;">
		<input type="range" class="custom-range" min="7" max="28" value="7" step="7" name="Time_Period_For_Forecasting" oninput="Time_Period_For_Forecasting_disp.value = Time_Period_For_Forecasting.value">
		</span>
		Selected Period is <output  id="Time_Period_For_Forecasting_disp">7</output> days 
		</fieldset>
		<br>
		<fieldset>
		<P> <b>Select a Method to do Forecasting</b> </P>
		<input type ="radio" id = "ftype_ML" name = "forecastType" value = 1 checked > 
		<label for ="ftype_ML"> Forecasting Using Machine Learning Model </label><br>
		<input type ="radio" id = "ftype_DL" name = "forecastType" value = 2>
		<label for ="ftype_DL"> Forecasting Using Deep Learning Model </label><br>
		</fieldset>
		<br>
		<br>
		
		<input type="submit" class="btn btn-info" value="FORECAST FUTURE">
	</form>
	{% endblock %}
	</div>
</body>